* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    background-color: #e7e7e7;
    padding-top: 100px;
}

.container{
    max-width: 960px;
    width: 50%;
    margin: 0 auto;
}
form{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}


form button{
    background-color: #009432 ;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 10px;
}
